---
- name: Install Python PIP
  apt:
    name: [ "python-pip", "python3-pip" ]
    state: present
    update_cache: no
  become: yes

- name: Install Ansible
  pip:
    name: 
      - ansible
      - jinja2
      - PyYAML
      - netaddr
    executable: pip3

- name: Install Ansible
  apt:
    name: [ "ansible" ]
    state: present
    update_cache: no
  become: yes
